fastapi
uvicorn
python-multipart
pydantic
python-dotenv
huggingface-hub
langchain
langchain-core
langchain-text-splitters
langchain-ollama
langgraph
ollama
PyMuPDF
numpy
faiss-cpu
sentence-transformers
scikit-learn
torch
rank-bm25
ddgs
requests
beautifulsoup4
lxml
Flask
Werkzeug
